/* Nav Bar */
nav {
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 25px;
  margin: 20px;
  padding-bottom: 5px;
  list-style: none;
  border-bottom: solid 2px transparent;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom:  solid 2px #df1623;
}

/* Menu Page */
.menu-container {
  display: flex;
  justify-content: center;
}